@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #18211f;
  background: #fbfaf7;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

button,
select,
input {
  font: inherit;
}

.scrollbar-thin {
  scrollbar-width: thin;
}
